<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Presentation</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-blue-100 flex items-center justify-center min-h-screen">
    <div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-xl font-bold mb-4">Create Presentation</h1>
        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="value" class="block font-medium">Enter a Topic:</label>
                <input type="text" id="value" name="value" class="border-2 border-gray-300 p-2 rounded-lg w-full">
            </div>
            <div>
                <label for="n" class="block font-medium">Enter no of Slide:</label>
                <input type="text" id="n" name="n" class="border-2 border-gray-300 p-2 rounded-lg w-full">
            </div>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg w-full">Create Presentation</button>
            <button type="submit" class="bg-blue-500 text-white p-2 rounded-lg w-full">
            <a href="{% url 'home' %}">
                Home
            </a></button>
        </form>
        {% if ppt %}
        <a href="{{ ppt.pptx_file.url }}" download="ppt.pptx" class="block text-center mt-4 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
            Download
        </a>
        {% endif %}
    </div>
</body>
</html>
